{
  "blockchain": {
    "rpc_url": "http://localhost:8545",
    "private_key": "0x4bbbf85ce3377467afe5d46f804f221813b2bb87f24d81f60f1fcdbf7cbf4356",
    "chain_id": 31337
  },
  "operator": {
    "default_min_bet_wei": "10000000000000000",
    "default_betting_duration_seconds": 1200,
    "default_min_participants": 2
  }
}
